body {
  font-family: "Sora", sans-serif;
}

h1 {
  font-family: "Source Code Pro", monospace, sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Sora", sans-serif;
}
h1 {

  font-size: 40px;
  line-height: 1.4em;
  letter-spacing: -0.2px;
  margin: 0px 400px 20px 20px;
}

body {
  background: #1054A8;
  color: beige;
  margin: 10px;
}
.education-tittle{
  margin:110px;
}

a {
  color: #d0ece7;
  text-decoration: none;
}
header {
  background-color: #BF860F;
  color: #d2b4de;
}

.hero {
  height: 300px;
  background-image: url("../images/perfil.jpg");
  background-size: 380px 290px;
  background-repeat: no-repeat;
  background-position-x: right;
}

.tecnologo {
  --primary: #2C2C50;
  
      --secondary: #635A8D;
      
      --tertiary: #BD7D9B;
   



      transition: --primary 1s, --secondary 1s, --tertiary 1s;

      background:
        linear-gradient(var(--primary), transparent),
        linear-gradient(90deg, var(--secondary), transparent),
        linear-gradient(-90deg, var(--tertiary), transparent);
  margin: 30px;
  padding:20px;
  border: 10px solid #2F2F2F;
  border-radius: 10px;
  
}
.carrera {
  --primary: #2C2C50;
  
      --secondary: #635A8D;
      
      --tertiary: #BD7D9B;
   



      transition: --primary 1s, --secondary 1s, --tertiary 1s;

      background:
        linear-gradient(var(--primary), transparent),
        linear-gradient(90deg, var(--secondary), transparent),
        linear-gradient(-90deg, var(--tertiary), transparent);
   
  margin: 30px;
  padding: 20px;
  border: 10px solid #2F2F2F;
  border-radius:10px;
}
.noFormal {
  --primary: #2C2C50;
  
      --secondary: #635A8D;
      
      --tertiary: #BD7D9B;
   



      transition: --primary 1s, --secondary 1s, --tertiary 1s;

      background:
        linear-gradient(var(--primary), transparent),
        linear-gradient(90deg, var(--secondary), transparent),
        linear-gradient(-90deg, var(--tertiary), transparent);
  margin: 30px;
  padding: 20px;
  border: 10px solid #2F2F2F;
  border-radius:10px;
}
.contact{
   margin-left:30px;
   margin-top:60px;
   margin-bottom:30px

}
